
<%= render "swars/carousel"%>


<div class="row maininfo">
	
	<div class="col-sm-6 col-md-2"></div>	

  <div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<%= image_tag("Xwing.jpg")%>
				<div class="caption">
        			<h3>Pojazdy</h3>
       					 <p>Bohaterowie są fajni</p>
        <p> <%= link_to "Pojazdy", pojazdy_path, class: "btn btn-lg btn-primary" %>		</p>
				</div>
		</div>
	</div>
	

	
	
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<%= image_tag("luke.jpg")%>
				<div class="caption">
        			<h3>Bohaterowie</h3>
       					 <p>Bohaterowie są fajni</p>
        <p><%= link_to "Bohaterowie", bohaterowie_path, class: "btn btn-lg btn-danger" %>	</p>
				</div>
		</div>
	</div>
	
	<div class="col-sm-6 col-md-2"></div>	
</div>

<div class="row maininfo">
	
	<div class="col-sm-6 col-md-2"></div>	

  <div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<%= image_tag("nowanadzieja.jpg")%>
				<div class="caption">
        			<h3>Filmy</h3>
       					 <p>Bohaterowie są fajni</p>
        <p> <%= link_to "Filmy", pojazdy_path, class: "btn btn-lg btn-primary" %>		</p>
				</div>
		</div>
	</div>
	
		
	
	
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<%= image_tag("ksiazka.jpg")%>
				<div class="caption">
        			<h3>Książki</h3>
       					 <p>Bohaterowie są fajni</p>
        <p><%= link_to "Książki", bohaterowie_path, class: "btn btn-lg btn-danger" %>	</p>
				</div>
		</div>
	</div>
	
	<div class="col-sm-6 col-md-2"></div>	
</div>
