<div class="row">
	<div class="col-md-4">
		<%= image_tag("logo.gif")%>
	</div>
	<div class="col-md-8">
		
	<nav class="navbar navbar-inverse" role="navigation">
			<ul class="nav navbar-nav headerlist">
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Bohaterowie", bohaterowie_path %></li>
			<li><%= link_to "Filmy", filmy_path %></li>
			<li><%= link_to "Książki", ksiazki_path %></li>
			<li><%= link_to "Pojazdy", pojazdy_path %></li>
			</ul>
	</nav>	

	</div>
</div>
